@model IEnumerable<MasterlistOfBusiness.Models.Inwentarz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_konta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_produktu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ilosc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_konta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_produktu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ilosc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_inwentarza">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_inwentarza">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_inwentarza">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
