@model IEnumerable<MasterlistOfBusiness.Models.Uzytkownik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.haslo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.haslo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.typ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.login">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.login">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.login">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
